:root {
  --main-theme-color: #ff1e1e;
}

@media only screen and (min-width : 876px) {
  div.header-container .banner {
    background: url('img/banner04.png') no-repeat center center;
    top: 10px;
    left: 40vw;
    width: 245px;
    height: 126px;
  }
}
