@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

html {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

body {
    background-color: #fff;
    color: #4a4a4a;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    line-height: 1.6;
    text-transform: none;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    color: #000000;
    margin: 1.6em 0 0.8em;
    text-align: left;
}

h1 {
    font-size: 1.9em !important;
    border-bottom: 1px solid #d0d0d0;
    padding-bottom: 0.6em;
}

h2 {
    font-size: 1.3em;
}

h3 {
    font-size: 1.1em;
}

h4 {
    font-size: 1em;
}

h5 {
    font-size: 0.9em;
}

h6 {
    font-size: 0.8em;
}

p {
    margin: 0 0 0.8em;
}

a {
    text-decoration: none;
}

/* document wrapper specific */

.documentwrapper a.reference {
    color: #1781ff;
    text-decoration: none;
    background-image: linear-gradient(to right, #1781ff 100%, transparent 75%);
    background-position: 0 1.2em;
    background-repeat: repeat-x;
    background-size: 8px 1px;
    z-index: -1;
}

.documentwrapper a.reference.external:after {
    content: "";
    background: url('./images/arrow.svg') no-repeat;
    width: 0.35em;
    height: 0.35em;
    background-size: cover;
    display: inline-block;
    margin: 2px 1px 2px 5px;
}

.documentwrapper a:hover {
    background: none;
}

a[name] {
    display: block;
    padding-top: 15px
}

.sphinxsidebar ul {
    -webkit-padding-start: 0px;
    -moz-padding-start: 0px;
    padding-inline-start: 0px;
    padding: 0px;
}

blockquote > p {
    margin: 0
}

/* IE Appearance tweaks */

::-ms-expand {
    display: none;
}
::-ms-clear {
    display: none;
}
input:-ms-input-placeholder {
    color: #4a4a4a !important;
}

input[type='text'] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    outline: none;
}

/* Logo */

.logo {
    background: url('./images/openiodocs-logo.svg') no-repeat;
    background-position: cover;
    width: 160px;
    height: 41px;
    display: block;
    margin: 19px 30px 33px;
}

/* External links */

.extlinks {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-left: 14px;
    margin-top: 32px;
}

.extlinks__link {
    width: 30px;
    height: 30px;
    display: block;
    opacity: 1;
    margin-left: 16px;
}

a.extlinks__link:hover {
    filter: brightness(0%);
    -webkit-filter: brightness(0%);
    -moz-filter: brightness(0%);
}

.extlinks__link.extlinks__link--oio {
    background: url('./images/ico-join-openio.svg') no-repeat;
}

.extlinks__link.extlinks__link--github {
    background: url('./images/ico-join-github.svg') no-repeat;
}

.extlinks__link.extlinks__link--slack {
    background: url('./images/ico-join-slack.svg') no-repeat;
}


/* Version selector + Search bar */

.header-container {
    display: flex;
    flex-direction: row;
    flex-grow: 2;
    flex-shrink: 0;
    flex-direction: row;
    align-items: flex-start;
    margin: 29px 0 45px;
    width: 100%;
    position: relative;
}

@media (max-width: 1199px) {
    .header-container {
        margin: 29px 0 25px;
    }
}

select.switch-version {
    height: 44px;
    width: 19%;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    text-indent: 0px;
    text-overflow: '';
    background: url('./images/ui-select.svg') no-repeat;
    padding: 4px;
    padding-left: 12px;
    font-size: 0.8em;
    background-position: calc(100% - 16px) 50%;
    border-radius: 4px;
    border: 1px solid #a9a9a9 !important;
    cursor: pointer;
}

.switch-version option {
    border: 0;
}

#searchbox {
    width: 80%;
    margin-right: 22px;
    position: relative;
}

#searchbox .search {
    width: 100%;
    height: 44px;
    background-color: #f4f4f4;
    border: 0;
    border-radius: 4px;
    color: #4a4a4a;
    overflow: hidden;
    padding-left: 12px;
    color: #000;
}

#searchbox .search + .search-icon {
    top: 25%;
    left: calc(100% - 28px);
    width: 22px;
    height: 22px;
    background-image: url('./images/ui-ico-search.svg');
    display: block;
    position: absolute;
    cursor: pointer;
}

#searchbox .search:focus + .search-icon {
    background-image: url('./images/ui-ico-search-blue.svg');
}

#searchbox .search:focus {
    box-shadow: inset 0 0 0 2px #1781ff;
}

#search-results ul {
    padding-left: 0;
}

#search-results li {
    list-style: none;
}

#search-results li > a {
    color: #1781ff;
}

@media (max-width: 1199px) {
    select.switch-version {
        width: 25%;
    }

    #searchbox {
        width: calc(100% - 60px);
    }

    #searchbox .search {
        width: calc(100% - 45px);
        padding-left: 60px;
    }

    .searchbox-mobile-menu {
        background: url('./images/ui-ico-nav-burger.svg') no-repeat;
        background-size: cover;
        width: 24px;
        height: 24px;
        position: absolute;
        top: 12px;
        left: 16px;
        display: block;
        z-index: 101;
        cursor: pointer;
    }
    .searchbox-mobile-menu:hover {
        filter: brightness(20%);
        -webkit-filter: brightness(20%);
        -moz-filter: brightness(20%);
    }
}

@media(max-width: 700px) {
    .header-container {
        flex-direction: column;
    }

    #searchbox {
        width: 100%;
    }

    #searchbox .search {
        width: calc(100% - 60px);
        padding-left: 60px;
    }

    #searchbox:after {
        left: calc(100% - 38px);
    }

    select.switch-version {
        width: 100%;
        margin-top: 25px;
    }
}

@media (min-width: 1200px) {
    .searchbox-mobile-menu {
        display: none;
    }
}

ul.search > li > .context {
    font-size: 0.7em;
}

ul.search > li {
    margin-bottom: 1em;
}

.highlighted {
    background: #cf0;
}

.highlight-link {
    position: fixed;
    right: 0;
    top: 0;
    font-size: 0.7em;
}

/* Sidebar */

.sphinxsidebar {
    height: 100vh;
    width: 308px;
    flex-grow: 0;
    flex-shrink: 0;
    transition: all 350ms;
    -webkit-transform:translate3d(-308px, 0, 0);
    -moz-transform: translate3d(-308px, 0, 0);
    -o-transform: translate3d(-308px, 0, 0);
    transform: translate3d(-308px, 0, 0);
    z-index: 300;
}

.preload .sphinxsidebar {
    -webkit-transform:translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

@media(max-width: 1199px) {
    .sphinxsidebar {
        visibility: hidden;
    }
}


.sphinxsidebar h1 {
    display: none;
}

div.document {
    width: 100vw;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: row-reverse;
    overflow: hidden;
}

.documentwrapper {
    width: calc(100vw - 405px);
    position: relative;
    overflow-x: hidden;
    overflow-y: overlay
    flex-grow: 0;
    text-align: justify;
    flex-flow: column;
    align-items: flex-start;
    height: 100vh;
    padding: 0px 50px 0px 50px;
    -webkit-transition: all 350ms;
    transition: all 350ms;
}

.resizer {
    width: calc(100vw - 60px);
    -webkit-transition: all 350ms;
    transition: all 350ms;
}

@media (max-width: 1199px) {
    .documentwrapper {
        padding: 0px 30px 0px 30px;
        width: 100%;
    }
}

@media (max-width: 700px) {
    .documentwrapper {
        padding: 0px 15px 0px 15px;
        width: 100%;
    }
}

.bodywrapper {
}

.documentwrapper:after {
    margin-top: 20px;
    content: "";
    display: block;
    width: 100vw;
    height: 1px;
}

.sphinxsidebarwrapper {
    z-index: 9;
    position: relative;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 15px 0 0 0;
    background-color: #a9a9a9;
    border-right: 1px solid #f1f1f1;
    padding-bottom: 20px;
}

.sphinxsidebarwrapper ul {
    list-style: none;
}

.sidebar-hide {
    display:none;
}

.sidebar-hiding {
    position: fixed;
    top: 0;
    left:0;
}


/* Sidebar - responsive */
@media (max-width: 1199px) {
    .preload {
        display: none;
    }
}

#preload {
    display: flex;
}

.sidebar-mini {
    padding-top: 0px;
    margin-top: 0px;
    width: 60px;
    height: 100vh;
    background: #a9a9a9;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.preload .sidebar-mini {
    display:none;
}

.sidebar-mini__icon {
    width: 30px;
    height: 30px;
    display: block;
    background: url('./images/ui-ico-nav-burger.svg') no-repeat;
    background-position: cover;
    margin: 38px 15px;
    cursor: pointer;
    transition: all 350ms;
    -webkit-transition: all 350ms;
    -moz-transition: all 350ms;
}

.sidebar-mini__icon:hover {
    filter: brightness(0%);
    -webkit-filter: brightness(0%);
    -moz-filter: brightness(0%);
}

/* To top button */

.to-top-container {
    position: fixed;
    bottom: 19px;
    right: 35px;
    width: 48px;
    height: 48px;
}

.to-top-container .to-top-container__button {
    width: 100%;
    height: 100%;
    display: block;
    background: url('./images/ui-scroll-to-top.svg') no-repeat;
    background-position: cover;
    cursor: pointer;
    transition: all 350ms;
}

.to-top-container:hover .to-top-container__button {
    filter: brightness(200%);
    -webkit-filter: brightness(200%);
    -moz-filter: brightness(200%);
}

.toggle-sidebar {
    position: absolute;
    top: 34px;
    right: 14px;
    background: url('./images/ui-ico-nav-collapse.svg') no-repeat;
    background-position: cover;
    width: 30px;
    height: 30px;
    display: block;
    cursor: pointer;
    filter: brightness(300%);
    -webkit-filter: brightness(300%);
    -moz-filter: brightness(200%);
    transition: all 350ms;
}

.sidebar-footer {
    padding-bottom: 50px;
}

@media (max-width: 1199px) {
    .sphinxsidebar {
        -webkit-transform:translate3d(-80vw, 0, 0);
        -moz-transform: translate3d(-80vw, 0, 0);
        -o-transform: translate3d(-80vw, 0, 0);
        transform: translate3d(-80vw, 0, 0);
        width: 40%;
        border: 0;
        position: fixed;
        top: 0;
        left: 0;
    }

    .sphinxsidebarwrapper > ul {
        margin: 5px;
        width: 100%;
    }

    .sphinxsidebarwrapper > ul > a {
        padding: 2px;
    }
}

@media (max-width: 700px) {
    .sphinxsidebar {
        width: 80%;
    }
}

.sphinxsidebar.open, .preload.sphinxsidebar {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

@media (max-width: 1199px) {
    .sphinxsidebar.open {
        z-index:101;
        box-shadow: 0 0 30px rgba(0,0,0,0.3);
    }
}

.sphinxsidebarwrapper > ul.current {
    padding: 0;
}

/* TOC */

.toctree-wrapper a.reference.internal {
    color: #000000;
    background: none;
}

.toctree-wrapper a.reference.internal:hover {
    text-decoration: underline;
    color: #000000;
}

.toctree-wrapper .toctree-l1 {
    margin-bottom: 15px;
    font-size: 1em;
    font-weight: 700;
    list-style: none;
}

.toctree-wrapper ul {
    -webkit-padding-start: 20px;
    -moz-padding-start: 20px;
    padding-inline-start: 20px;
    padding: 10px 20px 10px 20px;
    list-style: disc;
}

.toctree-wrapper > ul {
    -webkit-padding-start: 0px;
    -moz-padding-start: 0px;
    padding-inline-start: 0px;
}

.toctree-wrapper .toctree-l2 {
    font-size: 1em;
    font-weight: 400;
}

.body__toc > a {
    font-size: 0.7em;
    color: #1781ff;
    font-weight: 700;
    box-shadow: 0 2px 0px 0px #1781ff;
    text-transform: uppercase;
}

.body__toc > a:hover {
    box-shadow: none;
}

.sphinxsidebarwrapper .toctree-l1 {
    border-bottom: 1px solid #6f6f6f;
    position: relative;
}

.sphinxsidebarwrapper .toctree-l1.current {
    background: #6f6f6f;
}

.sphinxsidebarwrapper .toctree-l1 > a {
    font-size: 0.9em;
    text-transform: uppercase;
    font-weight: 700;
    display: block;
    padding: 15px 35px 15px 30px;
    transition: all 350ms;
    -moz-transition: all 350ms;
    -webkit-transition: all 350ms;
}

.sphinxsidebarwrapper .toctree-l1 > a,
.sphinxsidebarwrapper .toctree-l1 > a:hover,
.sphinxsidebarwrapper .toctree-l1 > a:focus {
    color: #515151;
}

.sphinxsidebarwrapper .toctree-l1.current > a {
    color: #ffffff !important;
}

.sphinxsidebarwrapper .toctree-l1 > ul {
    margin: 0 0 10px;
    font-size: 0.9em;
    list-style: none;
    padding: 0;
    display: none;
}

.preload .toctree-l1.current > ul {
    display: block !important;
}

.preload .toctree-l1.current.toctree-open > ul {
    display: block !important;
}

.sphinxsidebarwrapper li.toctree-l1.current .toctree-l2 > a {
    color: #d0d0d0;
}

.sphinxsidebarwrapper li.toctree-l1.current .toctree-l2.current > a {
    color: #ffffff;
}

.sphinxsidebarwrapper li.toctree-l2 > a {
    text-transform: none;
    padding: 6px 35px 6px 30px;
    color: #515151;
    line-height: 1.4;
    display: block;
    font-size: 1em;
    position: relative;
    -webkit-transition: color 350ms;
    -moz-transition: color 350ms;
    -o-transition: color 350ms;
    transition: color 350ms;
}

/* Hover: Links */
.sphinxsidebarwrapper .toctree-l2 > a:hover,
.sphinxsidebarwrapper .toctree-l1 > a:hover {
    color: #000000;
}

/* Hover Links 2 */
.sphinxsidebarwrapper .toctree-l1:hover > a {
    color: #000000;
}

.sphinxsidebarwrapper .toctree-l1.current .toctree-l2:hover > a {
    color: #ffffff;
}

/* Hover: Buttons */
.sphinxsidebarwrapper .toctree-l1:hover:after,
.sphinxsidebarwrapper .toctree-l1:hover:before {
    color: #000000;
}

.sphinxsidebarwrapper .toctree-l1.current:after,
.sphinxsidebarwrapper .toctree-l1.current:after {
    content: '−' !important;
}

.sphinxsidebarwrapper .toctree-l1.toctree-closed:after,
.sphinxsidebarwrapper .toctree-l1.toctree-closed:after {
    content: '+' !important;
}

.sphinxsidebarwrapper .toctree-l1:after,
.sphinxsidebarwrapper .toctree-l1:before {
    content: '+';
    width: 20px;
    height: 20px;
    font-size: 0.9em;
    position: absolute;
    top: 1em;
    right: 10px;
    -webkit-transition: all 350ms;
    -moz-transition: all 350ms;
    -o-transition: all 350ms;
    transition: all 350ms;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=30);
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.sphinxsidebarwrapper .toctree-l1:before {
    content: '−';
    opacity: 1;
}

.sphinxsidebarwrapper .toctree-l1.current:before,
.sphinxsidebarwrapper .toctree-l1.current:after {
    color: #ffffff !important;
}

.sphinxsidebarwrapper .toctree-l1.toctree-closed > ul {
    display: none;
}

.sphinxsidebarwrapper .toctree-l1.toctree-open > ul,
.sphinxsidebarwrapper .toctree-l1.current > ul {
    display: block;
}

.sphinxsidebarwrapper .toctree-l1.toctree-open > a {
    color: #000000;
}

.sphinxsidebarwrapper .toctree-l1.toctree-open:before {
    color: #000000;
}

.sphinxsidebarwrapper .toctree-l1.toctree-open:after,
.sphinxsidebarwrapper .toctree-l1.toctree-closed:before {
    opacity: 0;
}
.headerlink {
    display: none;
}


/* DOXYGEN */

.descname {
    font-weight: bold;
}

.breathe-sectiondef-title {
    /*font-size: 1.1em;
    */
    font-weight: bold;
}

.breathe-sectiondef {
    margin-bottom: 20px;
}

table {
    background-color: #fff;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 30px;
    overflow-x: auto
}

table,th,td {
    border: 1px solid #efefef;
    font-size: 16px;
    vertical-align: top
}

th {
    text-align: left;
    font-weight: normal;
    background-color: #f8f8f8;
    color: #313131
}

th,td {
    padding: 10px 15px
}

blockquote {
    margin: 0;
    position: relative
}

.code-block-caption {
    position: absolute;
    font-size: 0.6em;
    background: #f8f8f8;
    border: 1px solid #ececec;
    border-bottom: 0px;
    display: inline-block;
    margin-top: -8px;
    padding: 1px 12px;
    z-index: 200;
}

div.highlight {
    width: 100%;
    background: #f8f8f8;
    color: #333333;
    border: 1px solid #ececec;
    white-space: pre;
    position: relative;
    font-size: 0.80em;
    display: inline-block;
    margin-bottom: 10px;
    margin-top: 10px;
}

div.highlight pre {
    padding: 10px;
    font-family: 'Consolas', 'Menlo', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
    /*white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    word-break: break-all;*/
    overflow-x: auto;
}

.section {
    width: 100%;
    text-align: justify;
    margin-bottom: 20px;
    margin-top: -20px;
}

.section img {
    width: 80%;
    margin: 20px 0 20px 0;
}


/* Footer */

.footer {
    padding-top: 38px;
    margin-top: 76px;
    border-top: 1px solid #d0d0d0;
}

a.footer__community {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    margin-bottom: 38px;
}

a.footer__community i {
    width: 64px;
    height: 64px;
    background: url('./images/slack-app-icon.png') no-repeat;
    background-size: cover;
    display: block;
    transform: translate(0, 0);

}

a.footer__community i:after {
    content: "";
    width: 64px;
    height: 64px;
    box-shadow: 0 0 6px 1px rgba(0,0,0,0.50), inset  0 0 3px 1px rgba(0,0,0,0.50);
    transition: all 350ms;
    opacity: 0;
    display: block;
}

a.footer__community:hover i:after {
    opacity: 1;
}

a.footer__community span {
    margin-top: 21px;
    margin-left: 18px;
    font-weight: 900;
    font-size: 0.8em;
    color: #515151;
}

a.footer__community:hover span {
    text-decoration: underline;
}

a.footer__community:after {
    content: "" ;
}

.footer__license {
    color: #999999;
    font-family: "Open Sans";
    font-size: 0.8em;
}

.footer__license > a {
    color: #999999;
    text-decoration: underline;
}

.footer__license > a:hover {
    text-decoration: none;
}

.footer__license__icons {
    display: flex;
    flex-direction: row;
    margin-top: 12px;
}

.footer__license__icons--cc, .footer__license__icons--by {
    background-size: cover;
    width: 24px;
    height: 24px;
    display: block;
    margin-right: 5px;
}

.footer__license__icons--cc {
    background: url('./images/ico-cc.svg') no-repeat;
}

.footer__license__icons--by {
    background: url('./images/ico-by.svg') no-repeat;
}
