{% set cssdir = './common/css/' %}
{% extends "templates/indexbase.tmpl" %}
{% block pagetitle %}Current{% endblock %}
{% block title %}{% endblock %}
{% block content %}
<div class="jumbotron">
  <div class="container">
    <h2>Welcome to OpenIO Documentation</h2>
    <p>
      OpenIO is an open source cloud platform for all sizes of platforms, which aims to be easy to use, install and connect with your applications.
    </p>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-9">
      <h2>Documentation for OpenIO</h2>
    </div>
  </div>
</div>
<div class="container">
  <div class="row docs-toc">
    <div class="col-md-6">
      <div class="docs-section">
        <h3>Install Guides OpenIO SDS</h3>
	<p>How to install an OpenIO platform</p>
	<a href="/install-guide-centos/">Installation Guide OpenIO SDS for CentOS</a>
	<p>CentOS 7</p>
	<a href="/install-guide-debian">Installation Guide OpenIO SDS for Debian</a>
	<p>Debian 8 Jessie</p>
	<a href="/install-guide-ubuntu">Installation Guide OpenIO SDS for Ubuntu</a>
	<p>Ubuntu 16.04 Xenial</p>
	<a href="/install-guide-raspbian">Installation Guide OpenIO SDS for Raspbian</a>
	<p>Raspbian 8 Jessie</p>
  <a href="/install-guide-x1">Installation Guide OpenIO SDS (Standalone) for Raspbian</a>
	<p>Raspbian 8 Jessie</p>
      </div>
      <div class="docs-section">
        <h3>Install Guides Swift/S3 Gateway</h3>
        <p>How to install the OpenIO Swift/S3 gateway</p>
        <a href="/install-swift-s3-centos/">Installation Guide Swift/S3 Gateway for CentOS</a>
        <p>CentOS 7</p>
        <a href="/install-swift-s3-debian">Installation Guide Swift/S3 Gateway for Debian</a>
        <p>Debian Jessie</p>
        <a href="/install-swift-s3-ubuntu">Installation Guide Swift/S3 Gateway for Ubuntu</a>
        <p>Ubuntu 16.04</p>
      </div>
    </div>
    <div class="col-md-6">
      <div class="docs-section">
        <h3>Try it!</h3>
        <a href="/docker-image/">Official OpenIO SDS Docker image</a>
        <p>Deploy a namespace in a single container</p>
        <a href="/vagrant-box/">Official OpenIO SDS Vagrant box</a>
        <p>Easiest way to have an OpenIO SDS instance up and running</p>
      </div>
      <div class="docs-section">
        <h3>Contributor Guides</h3>
	<a href="/project-guide/">OpenIO Project Guide</a>
	<p>Guide to the OpenIO project and community</p>
      </div>
      <div class="docs-section">
        <h3>User Guides</h3>
	<a href="/user-guide/">User Guide</a>
	<p>Learn how to use OpenIO</p>
	<a href="/cli-reference">Command-Line Interface Reference</a>
	<p>Documentation for OpenIO command-line clients</p>
      </div>
    </div>
  </div>

  <hr>

</div>
{% endblock content %}
